.save {
  background-color: #7c7c7c;
  font-size: 8pt;
  width: 70px;
  position: fixed;
  top: 0px;
  right: 0px;
}
.newSearch {
  background-color: #7c7c7c;
  width: 80px;
  font-size: 8pt;
  position: fixed;
  top: 0px;
  right: 70px;
}
